<h1>DBZ Personajes</h1>
<hr>
<div class="row">
      <div class="col">
        <!-- onDelete -->
       <!-- <dbz-list [characterList]="dbzService.Characteres"
                    (onDelete)="dbzService.onDeleteCharacter($event)"></dbz-list> -->
      <dbz-list [characterList]="characters"
                    (onDelete)="onDeleteCharacter($event)"></dbz-list>


                  </div>
      <div class="col">

       <!--{{Characteres}}-->
        <!-- add-character -->
         <dbz-character (onNewCharacter)="onNewCharacter($event)" ></dbz-character>
      </div>
</div>



